{{ if .Params.author }}
  <br>
  <h2>About the {{ cond (eq (len .Params.author) 1) "author" "authors" }}</h2>
  
  <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
    {{ .Render "author-figure" }}
  </div>
{{ end }}

{{ if .Params.comment }}
<br>
<br>
<h2>Comments</h2>
<br>
<script src="https://utteranc.es/client.js"
        repo="denniskniep/denniskniep.github.io"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
{{ end }}